# Core data libraries
numpy==2.4.0
pandas==2.3.3
bottleneck==1.6.0
numexpr==2.14.1

# Exchange library
ccxt==4.5.29
cryptography==46.0.3
aiohttp==3.13.2

# Database
SQLAlchemy==2.0.45

# Core utilities
humanize==4.15.0
cachetools==6.2.4
requests==2.32.5
urllib3==2.6.2
certifi==2025.11.12
jsonschema==4.25.1
tabulate==0.9.0
rich==14.2.0
pyarrow==22.0.0; platform_machine != 'armv7l'

# Load ticker files faster
python-rapidjson==1.23
orjson==3.11.5

# Extensions to datetime library
python-dateutil==2.9.0.post0
pytz==2025.2

# Futures support
schedule==1.2.2

packaging==25.0
