# Include all requirements to run the execution engine
-r requirements.txt

# Development tools
ruff==0.14.10
mypy==1.19.1
pre-commit==4.5.1
pytest==9.0.2
pytest-asyncio==1.3.0
pytest-cov==7.0.0
pytest-mock==3.15.1
pytest-random-order==1.2.0
pytest-timeout==2.4.0
pytest-xdist==3.8.0
isort==7.0.0

# For datetime mocking
time-machine==3.2.0

# mypy types
types-cachetools==6.2.0.20251022
types-requests==2.32.4.20250913
types-tabulate==0.9.0.20241207
types-python-dateutil==2.9.0.20251115
pip-audit==2.10.0
